 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1129px;
}

.u-section-1 .u-icon-1 {
  width: 157px;
  height: 111px;
  margin: 65px auto 0;
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 828px;
  width: 680px;
  margin: 0 auto 60px;
}

.u-section-1 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-label-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-size: 1.25rem;
}

.u-section-1 .u-label-7 {
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}